{% load static %}
{% load shop_tags %}
<div class="product text-center" 
    style=" 
    /* background-color: blueviolet; */
    width: 100;
    
    padding: 0;
    margin: 0;
    "
    >
    <div class="mb-3 position-relative" 
         style="
            /* background-color: brown; */
            
            padding: 0;
            margin: 0;

            height: 31rem;
            width: 100; 

            display: flex; 
            flex-direction: column; 
            align-items: center; 
            justify-content: end;
            "
            >
        <div class="badge text-white bg-" 
        style=" 
            /* background-color: cadetblue; */

            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0;
            margin: 0;
            margin-left: 0.2rem;

            width: 100;
            height: auto;
            "
            >
            
            <a  class="d-block" 
                href="{{ product.get_absolute_url }}"
                style=" 

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 0;
                    margin: 0;

                    width: 100;
                    height: auto;
                    "
                >
                <img class="img-fluid w-100" 
                    style="
                    display: block;
                    align-items: center;
                    justify-content: center;

                    width: 100;
                    height: auto;

                    margin-right: 0;
                    margin-left: 0;

                    padding: 0;
                    margin: 0;

                     
                    "
                    src="{{ product.get_first_photo}}" alt="..." 
                    >
            </a>
            <div class="product-overlay">
                    <ul class="mb-0 list-inline">
                        {% if request.user.is_authenticated %}
                            {% get_favorite_products request.user as fav_products %}
                        {% endif %}

                        {% if product in fav_products and request.user.is_authenticated %}
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="{% url 'add_favorite' product.slug %}"><i class="fas far fa-heart" style="color: black;"></i></a></li>
                        {% else %}
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="{% url 'add_favorite' product.slug %}"><i class="far fa-heart"></i></a></li>
                        {% endif %}
                        
                        <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="{% url 'to_cart' product.pk 'add' %}">Додати в кошик</a></li>
                        <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                    </ul>
            </div>
            
            
        </div>

        <div style="
            /* background-color: burlywood; */

            " 
            >
            <h6> <a class="reset-anchor" href="detail.html">{{ product }}</a></h6>
            <p class="small text-muted"
                style=" 
                font-size: x-large  ;
                
                "
                >{{ product.price}} грн.</p>
        </div>    
        
    </div>
</div>