<div class="product text-center" >
    <div class="mb-3 position-relative" 
         style="
            height: 400px; 
            border: 1px solid black; 
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            justify-content: end;
            "
            >
        <div class="badge text-white bg-" 
        style=" 
            border: 1px solid rgb(134, 26, 76);
            
            "
            >
            
            <a  class="d-block" 
                href="{{ product.get_absolute_url }}"
                >
                <img class="img-fluid w-100" src="{{ product.get_first_photo}}" alt="..." >
            </a>
            <div class="product-overlay">
                    <ul class="mb-0 list-inline">
                        <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#!"><i class="far fa-heart"></i></a></li>
                        <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="cart.html">Add to cart</a></li>
                        <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                    </ul>
            </div>
            
            
        </div>

        <div style=" border: 1px solid rgb(26, 134, 59); margin-top: 300px;" >
            <h6> <a class="reset-anchor" href="detail.html">{{ product }}</a></h6>
            <p class="small text-muted" >{{ product.price}} грн.</p>
        </div>    
        
    </div>
</div>